* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-size: 18px;
}

.flex__container {
	width: 100%;
  height: 100vh;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
}

.box, .box__qr, .box__title, .box__text, .box__qr__img {
	background-color: #fff;
	border-radius: 18px;
}

.box__qr, .box__title, .box__text {
	margin: 1.1rem auto 0.7rem;
}

.box {
	width: 308px;
	height: 478px;
}

.box__qr {
	width: 88%;
	height: 58%;
}

.box__qr__img {
	object-fit: fit;
	height: 100%;
	width: 100%;
}

.box__title, .box__text {
	width: 76%;
	height: 11.6%;
	text-align: center;
	font-family: Outfit, sans-serif;
}

.box__title > p {
	margin-top: 0.33rem;
	font-size: 1.25rem;
	font-weight: 800;
}

.box__text > p {
	font-size: 0.82rem;
	font-weight: 400;
	letter-spacing: 0.4px;
}



